//Document Colors
$lightBlue: #F1F3FE;;
$darkBlue: #3C425F;
$primaryWhite: #FFFFFF;
$indigo: #576BCC;
$eggBlue: #0BC4CF;
$perano: #B4BEF0;
$orange: #ff8f0b;

//Screen Colors
$screenLightBlue: $lightBlue;

//typography
$text-color--regular: $darkBlue;
$text-color--accent: $eggBlue;
$text-color--blue: $indigo;
$text-color--white: $primaryWhite;