@import "../base/colors";

.button {
    display: inline-block;
    padding: 16px 32px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #06a9b3;
    text-decoration: none;
    border: none;
}
