{
    "useTabs": false,
    "printWidth": 120,
    "tabWidth": 2,
    "singleQuote": true,
    "jsxBracketSameLine": false,
    "parser": "flow",
    "semi": false,
    "trailingComma": "none",
    "arrowParens":"avoid"
  }

